<h1>Add a Chatbot Sentence</h1>
<%= form_for @statement, html: { multipart: true } do |form| %>
  <%= form.label :message %>

  <%= form.text_area :message, id: 'chatbot-statement-input' %>

  <%= form.fields_for :user_answers do |a| %>
    <h3>Answers</h3>
    <div class="field">
      <%= a.label :message %><br />
      <%= a.text_field :message, id: 'answer_one' %>
    </div>

    <div class="field">
      <%= a.label :bot_response %><br />
      <%= a.select :response, options_for_select(ChatbotStatement.all.collect { |statement|
        [statement.message, statement.message]
      }), id: 'response_one' %>

    </div>
  <% end %>

  <h3>Answer 2</h3>

  <%= form.fields_for :user_answers do |a| %>
    <div class="field">
      <%= a.label :message %><br />
      <%= a.text_field :message, id: 'answer_two' %>
    </div>

    <div class="field">
      <%= a.label :response %><br />
      <%= a.select :response, options_for_select(ChatbotStatement.all.collect { |statement|
        [statement.message, statement.message]
      }), id: 'response_two' %>
    </div>
  <% end %>

  <div class='submit-field'>
    <%= form.submit %>
  </div>
<% end %>
