<!DOCTYPE html>
<html>
  <head>
    <title>Chatbot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class='navbar'>
        <% if signed_in? %>
          <span class='signed-in-message'>Signed in as: <%= current_user.email %></span>
          <%= button_to 'Dashboard', '/admin', class: 'nav-button', method: :get %>
          <%= button_to 'Sign out', sign_out_path, class: 'nav-button', method: :delete %>
        <% else %>
          <%= button_to 'Sign in', sign_in_path, class: 'nav-button', method: :get %>
        <% end %>
        <%= button_to 'Chatroom', root_path, class: 'nav-button', method: :get %>
      </div>
    </nav>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
